<h2>4.Contextualización de la asignatura en el Plan de Estudios</h2> 
<p>
  <div class="field">
    <%= f.label :bloque %><br />
    <%= f.text_field :bloque %>
  </div>
  <div class="field">
    <%= f.label :perfil %><br />
    <%= f.text_field :perfil %>
  </div>
</p>