<!--<h1>Editing profesor_pertenece_asignatura</h1>-->

<%= render 'edit_form' %>

<%= link_to 'Mostrar', @profesor_pertenece_asignatura %> |
<%= link_to 'Atrás', profesor_pertenece_asignaturas_path %>
