<!--<h1>Editing competency_pertenece_asignatura</h1>-->

<%= render 'edit_form' %>

<%= link_to 'Mostrar', @competency_pertenece_asignatura %> |
<%= link_to 'Atrás', competency_pertenece_asignaturas_path %>
