<!DOCTYPE html>
<html>
<head>
  <title>SGGA-ULL</title>
  <%= stylesheet_link_tag    "bootstrap", "bootstrap-responsive", "token-input-facebook", :media => "all" %>
  <%= javascript_include_tag "application", "bootstrap", "jquery.tokeninput", "formToWizard", "jquery" %>

</head>
<body>
<%= yield %>
</body>
</html>