<!DOCTYPE html>
<html>
<head>
  <title>SGGA-ULL</title>
  <%= stylesheet_link_tag    "bootstrap", "bootstrap-responsive", "scaffolds", :media => "all" %>
  <%= javascript_include_tag "bootstrap", "jquery" %>
  <style type="text/css">
      body { font-family:Lucida Sans, Arial, Helvetica, Sans-Serif; font-size:13px; margin:20px; background-color:#E0DCDC}
      #main { width:960px; margin: 0px auto; border:solid 1px #b2b3b5; -moz-border-radius:10px; padding:20px; background-color:#00000;} <!-- esto debe #956295 -->
      #header {font-family: Arial, Helvetica, sans-serif; color:#ffffff; text-align:center; border-bottom:solid 1px #b2b3b5; margin: 0 0 20px 0; }
      form {class: form-horizontal}
      fieldset { border:none; width:320px;}
      legend { font-size:18px; margin:0px; padding:10px 0px; color:#ffffff; font-weight:bold;}
      label { display:block; margin:15px 0 5px;color:#ffffff; font-weight:bold;}
      input[type=text], input[type=password], input[type=number] { width:300px; padding:5px; border:solid 2px #000;}
      textarea {width:300px; padding:5px; border:solid 2px #000;}
      select  {width:100px; padding:5px; border:solid 2px #000;}
      img  {width:50%; height: 50%;}
      .prev, .next { background-color:#ffffff; padding:5px 10px; color:#fff; text-decoration:none;     border-top-left-radius: 5px 5px;
          border-bottom-right-radius: 5px 5px;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;border:solid 2px #000;}
      .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
      .prev { float:left;}
      .next { float:right;}
      #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
      #steps li {font-size:24px; float:left; padding:10px; color:#ffffff;}
      #steps li span {font-size:11px; display:block;}
      #steps li.current {color:#000;}
      #makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
      #makeWizard:hover { background-color:#000;}

  </style>

</head>
<body>
<%= yield %>
</body>
</html>